extends pageFormat.pug 

block product 

    #pageProduct
        .pageProduct__slider
            h2 We&apos;re here
        .grid.wide
            .row
                .col.l-3.md-12.sm-12
                    .pageProduct__category
                        div
                            i.fas.fa-stream(style='padding-right: var(--mp-1);')
                            |                             Category
                        form.pageProduct__searchBar(action='/product/search/1' method='get')
                            input#searchBar(type='search' name='product_title' placeholder='search')
                            button(type='submit')
                                i.fas.fa-search
                        a(href='/product/1', class= '' + type.all) All 
                        a(href='/product/categorized/commercial/1', class= '' +type.commercial ) Commercial
                        a(href='/product/categorized/blog/1', class= '' + type.blog) Blog
                        a(href='/product/categorized/shop/1', class= '' + type.shop) Shop
                        a(href='/product/categorized/app/1', class= '' + type.app) App
                        a(href='/product/categorized/system/1', class= '' + type.system) System (w)
                .col.l-9.md-12.sm-12
                    .pageProduct__list
                        h1
                            | Our Design
                        .grid
                            ul.row
                                each product in products 
                                    li.col.l-4.md-4.sm-10.sm-o-1
                                        a.cardProduct(href=`/product/access/` + product.product_id)
                                            .cardProduct__img
                                                img(src='/img/imgPexel/163880457_1019441735254537_7920892448431206078_n.jpg' alt='product pic')
                                            .cardProduct__title
                                                | #{product.title}
                                            .cardProduct__body
                                                h4 Price: #{product.price}$
                                                h5 Sold: #{product.sold}
                    .pageProduct__pagination
                        a(href= '/product/' + arrPagination.arrUrl[0])
                            i.fas.fa-chevron-left
                        a(href= '/product/' + arrPagination.arrUrl[0]) #{arrPagination.arrNumber[0]}
                        a(href= '/product/' + arrPagination.arrUrl[1]) #{arrPagination.arrNumber[1]}
                        a(href= '/product/' + arrPagination.arrUrl[2]) #{arrPagination.arrNumber[2]}
                        a(href= '/product/' + arrPagination.arrUrl[2])
                            i.fas.fa-angle-right  
    